*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.todo-con{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    place-items: center;
    
}

.first-layout{

}

form{
    position: relative;
    bottom: -15rem;
}