*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.todo-con{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    place-items: center;
}