*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.todo-con{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    place-items: center;
    padding-top: 2em;
    
}

.first-layout{
    display: grid;
    gap: 2rem;

}
.first-layout ul{
    display: grid;
    gap: 1rem;
    border: 1px solid #eee;
    padding: 1.5em 1em;
}
.first-layout ul>li{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

form{
    position: relative;
    bottom: -10rem;
}